/* soft-reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: #9696fc;
    color: black;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 16px 30px;
    outline-style: none;
}


li {
    list-style: none;
    display: flex;
    justify-content: initial;
    align-items: center;
    padding-bottom: 10px;
}

p {
    padding-left: 25px;
}

body {
    /* dark mode */
    background-color: #333958;
}

.app {    
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
    font-family: Roboto;
}

.data-input input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    padding: 16px;
    width: 500px;
    background-color: whitesmoke;
}


.data-input button:hover {
    background-color:#4169E1;
    color: whitesmoke;
}

.data-output {
    width: 50%;
    
    margin-top: 10px;
    font-size: 21px;
}

.data-output button {
    background-color: #66e98d;
}

.data-output button:hover {
    background-color: #32db2c;
}

.to-do {
    border-radius: 6px;
    background-color: whitesmoke;
}

.done {
    border-radius: 6px;
    background-color: whitesmoke;
    margin-top: 10px;
    filter: blur(0.798px);
    color: #828a82;
}

.clean button {
    background-color: #fa7979;
    margin-top: 10px;
    margin-left: 500px;
}

.clean button:hover {
    background-color: #e61111;
    color: white; 
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    top: -7px;
  }
  
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #95ff91;
  }
  
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: solid whitesmoke;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 10px;
  }
